.maqueta {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #317615;
    padding: 5px;
    
    }
.celdas {
    background-color: rgba(255, 255, 255, 0.8);
    border-left: 2px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 19px;
    text-align: justify;
    }  
.celdaImagen {
    background-color: rgba(255, 255, 255, 0.8);
    border-left: 2px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 19px;
    text-align: center;
    }    
    
.celdaImagen img{
    height: 238px;
    width: 360px;
 }
    
.titulo{text-align:center; color:rgb(5, 92, 9); font-size: 50px; background-color: #c2efb1;}
.nombre{text-align: center; font-size: 30px;color:rgb(5, 92, 9); background-color: #c2efb1; display:flex;} 
.nombre p{padding-left: 320px;}
.tabla{text-align: center; margin: 0% auto; background-color:#50c821; border:solid 1px black; padding: 0;}
.encabezadosTabla{font-weight: 1000; font-size: large; border:solid 1px black;}

    