form {
    width: 50%;
    font: normal bold 12px Verdana, Arial;
	float: left;
	margin: 2% 20%;
}

div {
  margin: .9em .9em .9em .9em;
}
div label {
  width: 30%;
  display: inline-block;
}

div input {
  display: inline-block;
  width: 60%;
}

.btn {
	margin: auto; 
	display: block;
}