.tabla{text-align: center; margin: 0% auto; background-color:#bec1bf; border:solid 1px black;margin: 120px;}
.titulo{color:rgb(120, 18, 103); font-size:25px; background-color: #d8d9d8;}
.fondo{ background-color:#939393 ;}
.encabezadosTabla{font-weight: 1000; font-size: large; border:solid 1px black;}
.imagenTitulo{margin: 5px;  height: 98px;  width: 100px;}
.imagenPersonal{height: 108px; width: 110px;}

