.titulo{text-align:center; color:rgb(5, 92, 9);}
.fondo{ background-color:#97dca7 ;}
.imagen{text-align: center;}
.tabla{text-align: center; margin: 0% auto;}
.encabezadosTabla{font-weight: 1000; font-size: large;}
.pieDeFoto{text-align: center; font-weight: 1000;}



